<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.kenevans.rcp.gpxinspector.converters">
      <converter
            class="net.kenevans.gpxinspector.gpsl.converters.GpslConverter"
            id="net.kenevans.gpxinspector.gpslConverter"
            name="GPSL">
      </converter>
   </extension>

</plugin>
